input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    opacity: 1;
    -webkit-appearance: none;
}

input[type="number"] {
    appearance: textfield;
}
