<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><% preact.title %></title>
        <meta
            name="description"
            content="Metriks is a simple frontend for TreaTS
        built with Preact, TailwindCSS CLI, and slow-json-stringify"
        />
        <meta name="author" content="Ronan Harris" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link
            rel="apple-touch-icon"
            href="/assets/icons/apple-touch-icon.png"
        />
        <% preact.headEnd %>
    </head>
    <body>
        <noscript>
            To the very bottom of my biscuits, unfortunately, this web page is
            served in server side rendering mode with client side features that
            requires Javascript. Source are available on
            https://gitlab.com/ronanharris09/metriks under GNU General Public
            License v2.0 only. No bloats necessary other than Preact that would
            cost 5kb at max.
        </noscript>
        <% preact.bodyEnd %>
    </body>
</html>
